<section class="banner">



    <div class="card-carrucel">

    </div>





    <div class="botones">
        <button type="submit">Comprar</button>
        <button type="submit">Más</button>
    </div>



</section>









<section class="productos">


    <h1>Lo mas vendido</h1>

    <div class="product-grid">



        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>



        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>





        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>




        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>





        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>





        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>





        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>






        <div class="product">
            <img class="img-producto" src="/assets/img/tuf_f15.png" alt="Product 1">
            <h3>Producto 1</h3>
            <img class="img-marcas-p" src="/assets/img/RepublicOfGamers.png" alt="">

            <div class="precio">
                <h4>S/. 6546</h4>
                <button type="submit">Comprar</button>
            </div>
        </div>










    </div>



</section>















<section class="marcas">

    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">
    <img class="img-marcas-f" src="/assets/img/RepublicOfGamers.png" alt="">

</section>



<footer>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h3>Contacto</h3>
                <p>Dirección: Calle Principal, Ciudad, País</p>
                <p>Teléfono: +123456789</p>
                <p>Email: infotudominio.com</p>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
                    <!-- Agrega más iconos de redes sociales según sea necesario -->
                </ul>

            </div>
            <div class="col-md-4">
                <h3>Enlaces útiles</h3>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Acerca de nosotros</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Política de privacidad</a></li>
                    <li><a href="">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Recursos adicionales</h3>
                <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Preguntas frecuentes (FAQ)</a></li>
                    <li><a href="">Contacto</a></li>
                    <!-- Agrega más enlaces según sea necesario -->
                </ul>
            </div>
        </div>
    </div>
</footer>