<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<header>

    <img class="logo" src="/assets/img/BigData_black.png" alt="">

    <nav class="navbar">

        <a class="enable" href="/home">HOME</a>
        <a class="disable" href="/asus">ASUS</a>
        <a class="disable" href="/hp">HP</a>
        <a class="disable" href="/dell">DELL</a>
        <a class="disable" href="/lenovo">LENOVO</a>
        <a class="disable" href="/gigabyte">GIGABYTE</a>

    </nav>





    <div class="divcuenta">


        <a class="modedark" href="">
            <span id="modedark" class="material-symbols-outlined">
                dark_mode
            </span>
        </a>

        <a class="carrito" href="">
            <span id="carrito" class="material-symbols-outlined">
                shopping_cart
            </span>
        </a>


        <a class="user" href="/cuenta">
            <span id="user" class="material-symbols-outlined">
                account_circle
            </span>
        </a>

    </div>


</header>